/**
 * Created by DmytroPinchuk on 22.08.2019.
 */

.THIS {
    background-color: white;
}

/*.THIS .input-date{*/
/*    width: 70%;*/
/*}*/

.THIS .slds-button__icon--left {
    background-color: lightgrey;
}

.THIS .slds-button__icon--right {
    background-color: lightgrey;
}

.THIS .today {
    float: right;
}

.THIS {
    margin: 0; padding: 0;
}

/*table*/
.main-table{
    width: 800px;
    margin: auto;
    background-color: white;
    font-family: Calibri, Myriad;
}
.THIS table{
    border-collapse: collapse;
    border: 1px solid grey;

}
.THIS table tbody tr td{
    padding: 3px;
    border: 1px solid #ccc;


}

.THIS table tbody tr .day-hours {
    width: 25%;
    text-align: center;
}
.THIS table tbody tr .time-lesson {
    width: 75%;
    text-align: left;
}




